<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="static/regStyle.css" />
  </head>
  <body>
    <form action="/login" method="POST">
      <div class="container">
        <h1>Sign In</h1>
        <p>Please fill in this form to sign in an account.</p>
        <hr />
        {% for message in get_flashed_messages()%} {{message}} {% endfor %}
        <br />
        <label for="username"><b>Email</b></label>
        <input
          type="text"
          placeholder="Enter Email"
          name="Email"
          id="Email"
          required
        />

        <label for="psw"><b>Password</b></label>
        <input
          type="password"
          placeholder="Enter Password"
          name="password"
          id="password"
          required
        />
        <button type="submit" class="registerbtn">Login</button>
      </div>
    </form>
  </body>
</html>
